/*
Tascus App styles
Date: 2017-08-06
-------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*  Global
/*-----------------------------------------------------------------------------------*/
body { background-color: #f3f3f4; font-weight: 400; color: #676a6c; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
a {color: #676a6c; outline: none; text-decoration: none; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; -ms-transition: all .3s ease; transition: all .3s ease;}
a:hover { color: #14757f; text-decoration: none; }
input:focus, textarea:focus {outline: none;}
p { margin-bottom: 1.20em; line-height: 1.4; }



/*-----------------------------------------------------------------------------------*/
/*  Typography
/*-----------------------------------------------------------------------------------*/
body { font-family: 'Open Sans', sans-serif; font-weight: 400; }
h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: inherit; line-height: inherit; }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }


/*-----------------------------------------------------------------------------------*/
/*  Layouts
/*-----------------------------------------------------------------------------------*/
html { position: relative; min-height: 100%; }
body { margin-bottom: 42px; }
.btn.btn-primary { border-radius: 0; background-color: #14757f; border-color: #14757f; font-size: 1.45rem; text-transform: uppercase; font-weight: 700; outline: 0!important; box-shadow: none; }
.btn.btn-primary:hover, .btn.btn-primary:focus { background-color: #08464c; border-color: #14757f; }
.form-control, .form-control:focus { border-radius: 0; border: 0; height: 40px; box-shadow: none; }



/* App Header */
.theader .navbar { background: #14757f; border-color:#0b5c64; padding: 5px 0 0; }
.navbar-brand { margin: 0; padding-top: 5px; }
.navbar-nav { margin-top: 11px; margin-right: 0; }
.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; color: #fff; text-transform: uppercase; font-weight: 600; font-size: 1.35rem; margin-left: 2px; }
.navbar-nav>li.active>a, .navbar-nav>li>a:hover { background: #0b5c64; }
.navbar-nav li a { color: #fff; }

/* App Content */
.tcontent { margin-top: 55px; }
.sub-header { padding-bottom: 5px; margin-bottom:.5em; border-bottom: 1px solid #e1e2e2; color: #384041; }

.search-box { margin-bottom: 15px; clear: both; }
.search-box .form-group, .search-box .input-group { margin-bottom: 8px; }
.search-box .input-group-btn .btn,
.search-box .input-group-btn .btn:hover { box-shadow: none; outline: none; background-color: #14757f; border-color: #14757f; color: #fff; border-radius: 0; height: 42px; }
.no-margin-left { padding-left: 0; }
.msg-blk .btn.btn-primary { margin-top: 46px; }

.msg { display: none; font-size: 48px; margin: 12px 0 0 15px; }
.msg.pass-msg { color: green; }
.msg.fail-msg { color: red; }

.ibox { clear: both; margin-bottom: 25px; margin-top: 0; padding: 0; }
.ibox-content { clear: both; background-color: #ffffff; color: inherit; padding: 15px 20px 20px 20px; border-color: #e7eaec; border-image: none; border-style: solid solid none; border-width: 2px 0; }
table.table { margin-bottom: 0; font-size: 1.3rem; }
table.table thead>tr>th,
table.table tfoot>tr>th { color: #384041; width: 14%; }
table.table thead>tr>th:nth-of-type(1),
table.table tfoot>tr>th:nth-of-type(1) { width: 22%; }
table.table thead>tr>th:nth-of-type(7),
table.table tfoot>tr>th:nth-of-type(7) { width: 12%; }
table.table tbody>tr>td { padding-left:18px; }
table.dataTable thead th { border-bottom-color: #adadad; }
table.dataTable tfoot th  { border-top-color: #adadad; }
table.dataTable tbody th, table.dataTable tbody td { padding-top: 10px; padding-bottom: 10px; }
.dataTables_wrapper .dataTables_paginate { margin-top: 15px; }
.dataTables_wrapper .paginate_button { background: transparent!important; border-color: transparent!important; border-width: 2px!important;  }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { color:#384041!important; }
.dataTables_wrapper .dataTables_paginate .paginate_button.current { background: #14757f!important; border-color: #14757f!important; color: #fff!important; }
.dataTables_wrapper .paginate_button.previous, .dataTables_wrapper .paginate_button.next { background: transparent!important; border-color: transparent!important; }

/* App Footer */
.tfooter { position: absolute; bottom: 0; background-color: #fff; border-top: 1px solid #e7eaec; width: 100%; height: 42px; }
.tfooter p { font-size: 1.15rem; margin: 15px 0 0; display: block; }
.tfooter p strong { color: #0b5c64;text-transform: uppercase }


/* App -> Link Status */
.link-status .row > div:nth-of-type(2),.link-status .row > div:nth-of-type(3),
.link-status .row > div:nth-of-type(4)  { width: 22%; }
.link-status h3 { margin: 0; font-size: 1.54rem;  border-bottom:1px solid #e1e2e2; color: #222; font-weight: 600; margin-bottom: .5rem; padding-bottom: 4px; text-align: center; }
.link-status .row > div:nth-of-type(1) h3,
.link-status .row > div:nth-of-type(5) h3 { margin-top: 18px;  }
.link-status ul { list-style-type: none; margin: 10px 0 0; padding: 0; text-align: center; }
.link-status ul li { line-height: 28px; display: block; border-bottom:1px solid #e1e2e2;  }
.link-status .step-box { height: 160px; background-color: #e9e9e9; border-radius: 6px; margin: 10px 0; font-weight: 500; text-align: center; font-weight: 600; display: table; width: 100%; }
.step-box p { display: table-cell; vertical-align: middle; line-height: 15px;  color: #333; }
.link-status .status { margin-bottom: 3px; color: #333; text-align: center; }

.oee { text-align: center; margin-bottom: 15px; }
.oee span { text-transform: uppercase; }
.label-item { display: block;  text-align: center; font-size: 1.20rem; font-weight: 600; }
#chart_oee { width: 200px; margin: 0 auto; }
#chart_availability,
#chart_performance,
#chart_quality { width: 140px; margin: 0 auto; }

#line_top_x { margin-top: 20px; clear: both; }

.small_chart { width: 68%; margin: auto; }